#result {
  display: none;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

#shareResult {
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 20px;
}

.resultDesc {
  font-size: 20px;
}

.resultName {
  font-size: 20px;
}

.goHome {
  color: white;
  background-color: pink;
  border: 0px;
  font-size: 20px;
  border-radius: 20px;
}

.goHome:hover, .goHome:focus {
  background-color: whitesmoke;
  color: pink;
}

.kakao {
  color: white;
  background-color: #FEE500;
  border: 0px;
  font-size: 20px;
  border-radius: 20px;
}

.kakao:hover, .kakao:focus {
  background-color: whitesmoke;
  color: #FEE500;
}
